<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/layout1.css}">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();

        });

        function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }

        $(document).ready(function (){
            $('#saveBtn').on("click", (e) => {
                e.preventDefault();
                var id = $("#id").val().toString();

                if(confirm($('#productTitle').val() + ' 상품을 등록하시겠습니까?')){

                    const formData = new FormData($("#updateForm")[0]);

                    $.ajax({
                        url: '/admin/item/new',
                        type: 'post',
                        enctype: 'multipart/form-data',
                        contentType: false,
                        processData: false,
                        data: formData,
                        data: formData,
                        success: () => {
                            alert('상품 등록이 완료되었습니다.');
                            window.location.replace('/admin/items/' + id);
                        },
                        error: () => {
                            alert('상품 등록 중 오류가 발생했습니다.');
                        }
                    });
                }
            });
        });


        $(document).ready(function (){
            $('#updateBtn').on("click", (e) => {
                e.preventDefault();
                var id = $("#id").val().toString();

                if(confirm($('#productTitle').val() + '의 정보를 수정하시겠습니까?')){

                    const formData = new FormData($("#updateForm")[0]);

                    $.ajax({
                        url: '/admin/item/' + id,
                        type: 'post',
                        enctype: 'multipart/form-data',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function(data) {
                            alert('수정 완료되었습니다.');
                            // 업데이트에 성공하면 해당 부분을 업데이트
                            var updatedContent = $(data).find("#content").html();
                            $("#content").html(updatedContent);
                        },
                        error: () => {
                            alert('상품 정보 수정 중 오류가 발생했습니다.');
                        }
                    });
                }
            });
        });



        $(document).ready(function (){

            $('#imgDeleteBtn').on("click", (e) => {
                e.preventDefault();
                // let id = $(this).parent("div").find("input[name='itemImgIds']").val();
                    // var id = $(this).val().toString();

                // console.log(id);

                const formData = new FormData($("#updateForm")[0]);

                $.ajax({
                    url: '/admin/itemImageDel',
                    type: 'post',
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: () => {
                        alert('이미지 삭제 완료되었습니다.');
                        // location.href = 'redirect:/admin/item/' + id
                        location.reload();
                    },
                    error: () => {
                        alert('이미지 삭제 중 오류가 발생했습니다.');
                    }
                });

            });
        });



    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom : 15px
        }
        .img-div {
            margin-bottom : 10px
        }
        .fieldError {
            color: #bd2130;
        }


        .menuImage{
            width: 200px; /* 이미지의 가로 크기 */
            height: 350px; /* 이미지의 세로 크기 */
            border-radius: 50%; /* 타원형 모양으로 표시 */
            overflow: hidden; /* 내부 내용이 넘치면 숨김 */
            position: relative; /* 자식 요소의 위치를 설정하기 위해 필요 */
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%);
        }

        .menuImage img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지를 가득 채우도록 설정 */
        }

        .nav.flex-column {
            margin-top: 172px;
            display: grid;
            grid-template-columns: fit-content(px);
            grid-template-rows: auto;
            grid-gap: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            color: white; /* 글자색 */
            text-decoration-style: solid;
            padding: 10px;
            border-radius: 5px;
        }

        .nav.flex-column :hover {
            background-color: #03e9f4; /* 호버 시 배경색 변경 */
        }

        .nav.flex-column.active {
            background-color: #03e9f4 /* 활성 탭 배경색 */
        }

        .nav.flex-column a {
            display: block;
            text-align: center;
            color: inherit; /* 부모 요소로부터 상속 */
        }

        .test{
            color: white;
            text-align: center;
        }


    </style>
</th:block>
</head>
<body>

<div layout:fragment="content">
    <div class="main-content">
    <form id="updateForm" enctype="multipart/form-data" th:object="${itemFormDto}">

        <p class="h2">
            새 상품 등록
        </p>

        <input id="id" type="hidden" th:field="*{id}">

        <div class="form-group">
            <div class="form-group-prepend">
                <span class="form-group-text">판매 상태</span>
            </div>
            <select th:field="*{productSellStatus}" class="custom-select">
                <option value="SELL">판매중</option>
                <option value="SOLD_OUT">품절</option>
            </select>
        </div>

        <div class="form-group">
            <div class="form-group-prepend">
                <span class="form-group-text">상품 타입</span>
            </div>
            <select th:field="*{productType}" class="custom-select">
                <option value="초월계">초월계</option>
                <option value="자연계">자연계</option>
                <option value="속성계">속성계</option>
                <option value="초인계">초인계</option>
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품명</span>
            </div>
            <input id="productTitle" type="text" th:field="*{productTitle}" class="form-control" placeholder="상품명을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('productTitle')}" th:errors="*{productTitle}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">가격</span>
            </div>
            <input type="number" th:field="*{productPrice}" class="form-control" placeholder="상품의 가격을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('productPrice')}" th:errors="*{productPrice}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">재고</span>
            </div>
            <input type="number" th:field="*{productQuantity}" class="form-control" placeholder="상품의 재고를 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('productQuantity')}" th:errors="*{productQuantity}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품 상세 내용</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" th:field="*{productContent}"></textarea>
        </div>
        <p th:if="${#fields.hasErrors('productContent')}" th:errors="*{productContent}" class="fieldError">Incorrect data</p>

        <div th:if="${#lists.isEmpty(itemFormDto.productImgDtoList)}">
        				<!-- #numbers.sequence(start,end)를 이용하여 반복처리. 최대 이미지 등록 갯수는 3개 -->
            <div class="form-group" th:each="num: ${#numbers.sequence(1,3)}">
                <div class="custom-file img-div">
                		<!-- 나중에 name에 해당되는 itemImgFile을 들고 날라간다. 똑같은 이름이 세 번 나타난다. -->
                    <input type="file" class="custom-file-input" name="itemImgFile" >
                    <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
                </div>
<!--                <div class="board-image" th:each="image : ${images}">-->
<!--                    <img th:src="@{'/board/images/' + ${image.name}}" alt="게시글 이미지" />-->
<!--                </div>-->
            </div>
        </div>
        <!-- 비어있는 상태가 아니라 뭔가 들고 날라온 경우.(수정을 위함)-->
        <div th:if = "${not #lists.isEmpty(itemFormDto.productImgDtoList)}">
            <div class="form-group" th:each="productImgDto, status: ${itemFormDto.productImgDtoList}">
                <div class="custom-file img-div">
                    <input type="file" class="custom-file-input" name="itemImgFile">
                    <input type="hidden" name="itemImgIds" th:value="${productImgDto.id}">
                    <input type="button" id="imgDeleteBtn" value="x" th:data-delImage="${productImgDto.id}">
                    <label class="custom-file-label" th:text="${not #strings.isEmpty(productImgDto.originName)} ? ${productImgDto.originName} : '상품이미지' + ${status.index+1}"></label>
                </div>
            </div>
        </div>



        <a th:href="@{'/admin/items'}">
            <button id="listBtn" type="button">목록</button>
        </a>
        <div th:if="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">
            <button id="saveBtn" type="button" class="btn btn-primary">저장</button>
        </div>
        <div th:unless="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">
            <button id="updateBtn" type="button" class="btn btn-primary">수정</button>
        </div>


    </form>

</div>
    </div>
</body>
</html>