<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<head>
<th:block layout:fragment="css">
  <style>
    .low-stock {
      color: red;
      font-weight: bold;
    }

	.main-container {
		margin-top: 172px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 620px;
		grid-gap: 10px;
	}


	aside {
		grid-column: 1;
		grid-row: 1;
		margin-left: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}


  </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script th:inline="javascript">


        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/items/" + page
            + "?searchSellStatus=" + searchSellStatus
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }

        $(document).ready(function(){
			$('#newproductBtn').on("click", function(e) {
				e.preventDefault();
				location.href = "/admin/item/new";
			});

        });

		$(document).ready(function() {
			// 전체 선택 체크박스 요소를 가져옵니다.
			var $checkAll = $("#allcheck");

			// 체크박스 항목들을 가져옵니다.
			var $checkboxItems = $(".rowcheck");

			// 체크박스 항목의 체크 상태가 변경되었을 때 처리할 함수를 정의합니다.
			function updateCheckAll() {
				// 모든 체크박스 항목을 반복하며 체크 상태를 확인합니다.
				var allChecked = true;
				$checkboxItems.each(function() {
					if (!$(this).prop("checked")) {
						// 하나라도 체크되지 않은 항목이 있으면 allChecked 변수를 false로 설정합니다.
						allChecked = false;
						return false; // 반복문 종료
					}
				});

				// 전체 선택 체크박스의 체크 상태를 업데이트합니다.
				$checkAll.prop("checked", allChecked);
			}

			// 체크박스 항목의 체크 상태가 변경되었을 때 updateCheckAll 함수를 호출합니다.
			$checkboxItems.on("change", updateCheckAll);

			// 전체 선택 체크박스의 체크 상태가 변경되었을 때 모든 체크박스 항목의 체크 상태를 업데이트합니다.
			$checkAll.on("change", function() {
				var isChecked = $checkAll.prop("checked");
				$checkboxItems.prop("checked", isChecked);
			});
		});


		$(document).ready(function() {
			//삭제 버튼 클릭했을 때
			$('#deleteproductBtn').on("click", function (e) {
				e.preventDefault();


				var $checked = $('input[name=rowcheck]:checked');

				if ($checked.length < 1) {
					alert("삭제할 상품을 선택해주세요.");
					return false;
				}

				var idList = [];


				$.each($checked, function (k, v) {
					idList.push($(this).val());
					console.log(idList);
				});

				for(let i = 0; i < idList.length; i++){
					$.ajax({
						url: '/admin/items',
						type: 'DELETE',
						data: {
							id: idList[i]
						},
						success: (obj) => {
							alert("삭제되었습니다.")
							console.log(obj);

						},
						error: (error) => {
							alert("삭제 실패했습니다.")
							console.log(error);
						}
					});
				}

				location.replace("/admin/items")

				console.log(idList);



			});
		});

    </script>
</th:block>
</head>

<body>
<div layout:fragment="content">
<div class="main-container">
	<form th:action="@{'/admin/items/' + ${items.number}}" role="form"
		method="get" th:object="${items}">


		<button id="newproductBtn" type="button" class="btn btn-primary">새 상품 등록</button>


		<button id="deleteproductBtn" type="button" class="btn btn-primary">선택 삭제</button>


		<table class="table">
			<thead>
				<tr>
					<td> <input type="checkbox" id="allcheck" > </td>
					<td>상품번호</td>
					<td>상품명</td>
					<td>제품상태</td>
					<td>재고수량</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product, status: ${items.getContent()}"
                    th:classappend="${product.productQuantity <= 30} ? 'low-stock' : ''">
					<td> <input type="checkbox" class="rowcheck" name="rowcheck" th:value="${product.id}"> </td>
					<td th:text="${product.id}"></td>
					<td><a th:href="'/admin/item/'+${product.id}"
						th:text="${product.productTitle}"></a></td>
					<td
						th:text="${product.productSellStatus == 0} ? '품절' : '판매중'"></td>
					<td th:text="${product.productQuantity}"></td>
				</tr>
			</tbody>
		</table>


		<!-- 페이지 기능 구현(이전 페이지, 페이지 번호, 다음 페이지) -->
		<div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
            <ul class="pagination justify-content-center">

				<!-- 맨 앞페이지로 가는 버튼 -->
				<li class="page-item" th:classappend="${items.first}?'disabled'">
					<a th:onclick="'javascript:page(0)'" aria-label="First"class="page-link">
						<span aria-hidden="true">첫 페이지</span>
					</a>
				</li>

				<!-- 첫 번째 페이지이면 이전버튼 사용못하게 설정(disabled) -->
                <li class="page-item" th:classappend="${items.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

					<!-- 마지막 페이지이면 다음버튼 사용못하게 설정(disabled) -->
                <li class="page-item" th:classappend="${items.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>
                <!-- 맨 뒷 페이지로 가는 버튼 -->
				<li class="page-item" th:classappend="${items.last}?'disabled'">
					<a th:onclick="'javascript:page(' + ${items.totalPages - 1} + ')'" aria-label='Last' class="page-link">

						<span aria-hidden="true">마지막 페이지</span>
					</a>
				</li>




			</ul>
        </div>


		<!-- 검색 기능 구현 -->
		    <div class="form-inline justify-content-center" th:object="${itemSearchDto}">
          <!--  <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>  -->
            <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">
                <option value="">판매상태(전체)</option>
                <option value="SELL">판매</option>
                <option value="SOLD_OUT">품절</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="itemNm">상품명</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>

	</div>


	</form>
	</div>
</div>


</body>

</html>