<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <th:block layout:fragment="css">
        <style>
			body{
				font-family: 'Nanum Gothic Coding', monospace;
			}

        </style>
    </th:block>

    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{../static/css/adminPage.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap"
	rel="stylesheet">
              
              
              

        <script th:inline="javascript">

            $(document).ready(function(){


                // 페이지 링크 클릭 이벤트 처리
                // $(".page-link").on("click", function(e) {
                //     e.preventDefault();
                //     var page = $(this).data("page");
                //     setPageAndSubmitForm(page);
                // });

                // 검색 버튼 클릭 이벤트 처리
                $("#searchBtn").on("click", function(e) {
                    e.preventDefault();
                    var page = 0;
                    setPageAndSubmitForm(page);
                });

                // 페이지 번호와 검색어를 설정하고 검색 폼 제출하는 함수

                function setPageAndSubmitForm(page) {
                    $("#page").val(page);

                    //카테고리 설정이 있을 경우에만 설정
                    // 페이지가 변경되어도 검색어 그대로 유지.
                    var category = $("#searchCategory").val().trim();
                    if(category === ""){
                        $("#category").removeAttr("name");
                    }else{
                        $("#category").val(category);
                        $("#category").attr("name", "category");
                    }


                    // 검색어 입력값이 있을 경우에만 설정.
                    // 페이지가 변경되어도 검색어 그대로 유지.
                    // 검색어 필드 값이 빈칸인 경우 전체 데이터 요청
                    var keyword = $("#searchKeyword").val().trim();
                    if (keyword === "") {
                        // 검색어 필드를 제거하여 서버에서 빈 검색어로 처리되도록 함
                        $("#keyword").removeAttr("name");
                    } else {
                        // 검색어 필드를 제거하여 서버에서 빈 검색어로 처리되도록 함
                        $("#keyword").val(keyword);
                        //.attr("name", "keyword")은 선택한 요소의 "name" 속성을 "keyword"로 설정하는 역할.
                        // 이렇게 설정된 "name" 속성은 폼 데이터를 서버로 제출할 때 사용.
                        $("#keyword").attr("name", "keyword");

                    }

                    $("#searchForm").submit();
                }


            });

        </script>
    </th:block>

</head>
<body>

<div layout:fragment="content">
    <div class="main-content">
        <h1>ORDER LIST</h1>
        <div class="total-div">
            <table class="table">
                <thead>
                    <tr>
                        <td>주문 번호</td>
                        <td>주문자 아이디</td>
                        <td>주문 날짜</td>
                        <td>주문 가격</td>
                        <td>주문 주소</td>
                        <td>연락처</td>
                        <td>결제방식</td>
                        <td>상세 조회</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="orderlist" th:each="orders, status: ${ordersPage}">
                        <td th:text="${orders.id}"></td>
                        <td th:text="${orders.user.username}"></td>
                        <td th:text="${#temporals.format(orders.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${orders.orderTotalPrice}"></td>
                        <td	th:text="${orders.orderPostCode} + ', ' + ${orders.orderAddress} + ', ' + ${orders.orderDetailAddress} "></td>
                        <td th:text="${orders.orderTel}"></td>       
                        <td th:text="${orders.payment.paymentPlan}"></td>
                        <td>
                            <a th:href="@{'/admin/orderDetail/' + ${orders.id}}">
                                <button class="detail-btn" type="button">선택</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!--검색 기능-->
        <form th:action="@{'/admin/orders/'}" method="get" >
            <div class="search-box">
                <select id="searchCategory" name="category" class="search-category" style="width:auto;">
                    <option value="" th:selected="${searchCondition == 'all' ||
            searchCondition == '' || searchCondition == null}">전체</option>
                    <option value="id" th:selected="${category == 'id'}">아이디</option>
                    <option value="orderTel" th:selected="${category == 'orderTel'}">연락처</option>
                </select>
                <input type="text" id="searchKeyword" class="search-keyword"  th:field="*{keyword}" placeholder="검색어를 입력해주세요" th:value="${keyword}">
                <button type="submit" id="searchBtn" class="search-btn">검색</button>
            </div>
        </form>



        <!-- 페이징처리 시작 -->
        <!-- href="javascript:void(0)"를 사용하여 클릭 시 페이지 이동을 방지하고 JavaScript 코드만 실행되도록 할 수 있다.-->
        <div th:if="${!ordersPage.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li th:classappend="${!ordersPage.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/orders/(category=${category}, keyword=${keyword}, page=0)}">
                        처음
                    </a>
                </li>
                <li th:classappend="${!ordersPage.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/orders/(category=${category}, keyword=${keyword}, page=${ordersPage.number-1})}">
                        이전
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, ordersPage.totalPages-1)}"
                    th:classappend="${page == ordersPage.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page+1}" class="page-link" th:href="@{/admin/orders/(category=${category}, keyword=${keyword}, page=${page})}"></a>
                </li>
                <li  th:classappend="${!ordersPage.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/orders/(category=${category}, keyword=${keyword}, page=${ordersPage.number+1})}">
                        다음
                    </a>
                </li>
                <li  th:classappend="${!ordersPage.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/orders/(category=${category}, keyword=${keyword}, page=${ordersPage.totalPages-1})}">
                        마지막
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->

        <form th:action="@{/admin/orders}" method="get" id="searchForm">
            <input type="hidden" id="category" name="category" th:value="${category}">
            <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
            <input type="hidden" id="page" name="page" th:value="${ordersPage.number}">
        </form>




</div>
    </div>

</body>
</html>