<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{../static/css/adminPage.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap"
              rel="stylesheet">

        <script th:inline="javascript">




        </script>

    </th:block>


    <th:block layout:fragment="css">
        <style>
            .input-group {
                margin-bottom : 15px
            }
            .img-div {
                margin-bottom : 10px
            }
            .fieldError {
                color: #bd2130;
            }



            .test{
                color: white;
                text-align: center;
            }


        </style>
    </th:block>


</head>
<body>
<div layout:fragment="content">
    <div class="main-content">

        <h1>주문 내역</h1>
            <div th:each="productImageList : ${productImageList}">
                <div th:each="orderItemList : ${orderItemList}" >
                    <div class="order-info">
                        <span th:text="|주문일 ${#temporals.format(orderItemList.order.orderDate, 'yyyy-MM-dd HH:mm:ss')}|"></span>
                        <img th:src="${productImageList.url}" width="200px" height="200px">
                    </div>
                    <ul>
                        <li class="order-detail" th:text="|주문번호: ${orderItemList.id}|"></li>
                        <li class="order-detail" th:text="|상품명: ${orderItemList.product.productTitle}|"></li>
                        <li class="order-detail" th:text="|수량: ${orderItemList.orderQuantity}|"></li>
                        <li class="order-detail" th:text="|금액: ${#numbers.formatInteger(orderItemList.order.orderTotalPrice, 3, 'COMMA')}원|"></li>
                        <li class="order-detail" th:text="|지불 방식: ${orderItemList.order.payment.paymentPlan}|"></li>
                        <li class="order-detail" th:text="|주문 상태: 입금 완료(입금자: ${orderItemList.order.user.username})|"></li>
                        <li class="order-detail">배송 완료</li>
                    </ul>
                </div>
            </div>


            <a th:href="@{'/admin/orders'}">
                <button id="memberListBtn" type="button" >목록</button>
            </a>

    </div>
</div>


</body>
</html>