<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout2}">

<!-- 사용자 스크립트 추가 -->
<head>
	<th:block layout:fragment="css">
		<style>

			body{
				font-family: 'Nanum Gothic Coding', monospace;
			}
			
/* 			.search-btn{
				background:black;
				border:1px solid white;
				color:white;
			} */
			
			.detail-btn {
    display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #86cfda;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition:all 0.5s;
}

		</style>
	</th:block>



<th:block layout:fragment="script">
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"-->
<!--		  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"-->
<!--		  crossOrigin="anonymous">-->
<!--			<script src="https://code.jquery.com/jquery-latest.min.js"></script>-->
<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"-->
<!--			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"-->
<!--			crossOrigin="anonymous"></script>-->

	<link rel="stylesheet" th:href="@{../static/css/adminPage.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script th:inline="javascript">



		$(document).ready(function() {

			// 페이지 링크 클릭 이벤트 처리
			// $(".page-link").on("click", function (e) {
			// 	e.preventDefault();
			// 	var page = $(this).data("page");
			// 	setPageAndSubmitForm(page);
			//
			// });

			// 검색 버튼 클릭시 page 0 부터
			$("#searchBtn").on("click", function (e) {
				e.preventDefault();
				var page = 0;
				setPageAndSubmitForm(page);
			});

			//검색어와 페이지 설정 후 검색 폼 제출(가장 밑에 searchForm에 input 태그로 있음)
			function setPageAndSubmitForm(page) {
				$("#page").val(page);

				//카테고리 설정이 있을 경우에만 설정
				// 페이지가 변경되어도 검색어 그대로 유지.
				var category = $("#searchCategory").val().trim();
				if(category === ""){
					$("#category").removeAttr("name");
				}else{
					$("#category").val(category);
					$("#category").attr("name", "category");
				}

				// 검색어 입력값이 있을 경우에만 설정.
				// 페이지가 변경되어도 검색어 그대로 유지.
				// 검색어 필드 값이 빈칸인 경우 전체 데이터 요청
				var keyword = $("#searchKeyword").val().trim();
				if (keyword === "") {
					// 검색어 필드를 제거하여 서버에서 빈 검색어로 처리되도록 함
					$("#keyword").removeAttr("name");
				} else {
					// 검색어 필드를 제거하여 서버에서 빈 검색어로 처리되도록 함
					$("#keyword").val(keyword);
					//.attr("name", "keyword")은 선택한 요소의 "name" 속성을 "keyword"로 설정하는 역할.
					// 이렇게 설정된 "name" 속성은 폼 데이터를 서버로 제출할 때 사용.
					$("#keyword").attr("name", "keyword");

				}

				$("#searchForm").submit();
			}

		});



    </script>
</th:block>
</head>
<body>

<div layout:fragment="content">
	<div class="main-content">
		<h1>USER LIST</h1>
		<div class="total-div">
		<table class="table">
			<thead>
				<tr>
					<td>아이디</td>
					<td>가입경로(local, kakao)</td>
					<td>카카오 아이디</td>
					<td>이름</td>
					<td>이메일</td>
					<td>연락처</td>
					<td>주소</td>
					<td>회원구분</td>
					<td>조회 및 수정</td>
				</tr>
			</thead>
			<tbody>
				<tr class="memberlist" th:each="user, status: ${userPage}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.provider}"></td>
					<td th:text="${user.providerId}"></td>
					<td	th:text="${user.username}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.tel}"></td>
					<td th:text="${user.my_postcode} + ', ' + ${user.my_address } + ', ' +${user.my_detailAddress}"></td>
					<td th:text="${user.role}"></td>
					<td>
						<a th:href="@{'/admin/memberDetail/' + ${user.id}}">
						<button class="detail-btn" type="button">선택</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>

<!--		th:field="*{}"-->
<!--		· th:object속성과 함께 th:field를 이용해서 HTML 태그에 멤버 변수를 매핑할 수 있다.-->
<!--		· th:field을 이용한 사용자 입력 필드는 id, name, value 속성 값이 자동으로 매핑된다.-->
<!--		· th:object와 th:field는 Controller에서 특정 클래스의 객체를 전달 받은 경우에만 사용 가능하다.-->


		<!--검색 기능-->
		<form th:action="@{'/admin/members/'}" method="get">
			<div class="search-box">
				<select id="searchCategory" name="category" class="search-category" style="width:auto;">
					<option value="" th:selected="${searchCondition == 'all' ||
            searchCondition == '' || searchCondition == null}">전체</option>
					<option value="username" th:selected="${category == 'username'}">이름</option>
					<option value="email" th:selected="${category == 'email'}">이메일</option>
					<option value="tel" th:selected="${category == 'tel'}">연락처</option>
				</select>
				<input type="text" id="searchKeyword" class="search-keyword"  th:field="*{keyword}" placeholder="검색어를 입력해주세요" style="width: auto;">
				<button type="submit" id="searchBtn" class="btn detail-btn">검색</button>
			</div>
		</form>



		<!-- 페이징처리 시작 -->
		<!-- href="javascript:void(0)"를 사용하여 클릭 시 페이지 이동을 방지하고 JavaScript 코드만 실행되도록 할 수 있다.-->
		<div th:if="${!userPage.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li th:classappend="${!userPage.hasPrevious} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/members/(category=${category}, keyword=${keyword}, page=0)}">
						처음
					</a>
				</li>
				<li th:classappend="${!userPage.hasPrevious} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/members/(category=${category}, keyword=${keyword}, page=${userPage.number-1})}">
						이전
					</a>
				</li>
				<li th:each="page: ${#numbers.sequence(0, userPage.totalPages-1)}"
					th:classappend="${page == userPage.number} ? 'active'" class="page-item">
					<a th:text="${page+1}" class="page-link" th:href="@{/admin/members/(category=${category}, keyword=${keyword}, page=${page})}"></a>
				</li>
				<li  th:classappend="${!userPage.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/members/(category=${category}, keyword=${keyword}, page=${userPage.number+1})}">
						다음
					</a>
				</li>
				<li  th:classappend="${!userPage.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{/admin/members/(category=${category}, keyword=${keyword}, page=${userPage.totalPages-1})}">
						마지막
					</a>
				</li>
			</ul>
		</div>
		<!-- 페이징처리 끝 -->

		<form th:action="@{/admin/members}" method="get" id="searchForm">
			<input type="hidden" id="category" name="category" th:value="${category}">
			<input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
			<input type="hidden" id="page" name="page" th:value="${userPage.number}">
		</form>


	</div>
</div>

</body>

</html>