<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout2}">

<!-- 사용자 스크립트 추가 -->
<head>
	<th:block layout:fragment="css">
		<style>



		</style>
	</th:block>



<th:block layout:fragment="script">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
		  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
		  crossOrigin="anonymous">
			<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossOrigin="anonymous"></script>
    <script th:inline="javascript">



		$(document).ready(function() {


			// 페이지 링크 클릭 이벤트 처리
			$(".page-link").on("click", function (e) {
				e.preventDefault();
				var page = $(this).data("page");
				setPageAndSubmitForm(page);

			});

			// 검색 버튼 클릭시 page 0 부터
			$("#searchBtn").on("click", function (e) {
				e.preventDefault();
				var page = 0;
				setPageAndSubmitForm(page);
			});

			//검색어와 페이지 설정 후 검색 폼 제출(가장 밑에 searchForm에 input 태그로 있음)
			function setPageAndSubmitForm(page) {
				$("#category").val();
				$("#keyword").val($("#searchKeyword").val());
				$("#page").val(page);
				$("#searchForm").submit();
			}
		});


        
    </script>
</th:block>
</head>
<body>

<div layout:fragment="content">
	<div class="main-content">

		<table class="table">
			<thead>
				<tr>
					<td>아이디</td>
					<td>가입경로(local, kakao)</td>
					<td>카카오 아이디</td>
					<td>이름</td>
					<td>이메일</td>
					<td>연락처</td>
					<td>주소</td>
					<td>회원구분</td>
					<td>조회 및 수정</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, status: ${userPage}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.provider}"></td>
					<td th:text="${user.providerId}"></td>
					<td	th:text="${user.username}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.tel}"></td>
					<td th:text="${user.my_postcode} + ', ' + ${user.my_address } + ', ' +${user.my_detailAddress}"></td>
					<td th:text="${user.role}"></td>
					<td>
						<a th:href="@{'/admin/memberDetail/' + ${user.id}}">
						<button type="button">선택</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>


<!--		th:field="*{}"-->
<!--		· th:object속성과 함께 th:field를 이용해서 HTML 태그에 멤버 변수를 매핑할 수 있다.-->
<!--		· th:field을 이용한 사용자 입력 필드는 id, name, value 속성 값이 자동으로 매핑된다.-->
<!--		· th:object와 th:field는 Controller에서 특정 클래스의 객체를 전달 받은 경우에만 사용 가능하다.-->


		<!--검색 기능-->
		<form th:action="@{'/admin/members/'}" method="get">
			<div class="form-inline justify-content-center">
				<select th:field="*{category}" class="form-control" style="width:auto;">
					<option value="">이름+이메일+연락처(전체)</option>
					<option value="username">이름</option>
					<option value="email">이메일</option>
					<option value="tel">연락처</option>
				</select>
				<input type="text" id="searchKeyword" class="form-control"  th:field="*{keyword}" placeholder="검색어를 입력해주세요" style="width: auto;">
				<button type="submit" id="searchBtn" class="btn btn-primary">검색</button>
			</div>
		</form>



		<!-- 페이징처리 시작 -->
		<!-- href="javascript:void(0)"를 사용하여 클릭 시 페이지 이동을 방지하고 JavaScript 코드만 실행되도록 할 수 있다.-->
		<div th:if="${!userPage.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li th:classappend="${!userPage.hasPrevious} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="0">
						첫 페이지
					</a>
				</li>
				<li th:classappend="${!userPage.hasPrevious} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${userPage.number-1}">
						이전
					</a>
				</li>
				<li th:each="page: ${#numbers.sequence(0, userPage.totalPages-1)}"
					th:classappend="${page == userPage.number} ? 'active'"
					class="page-item">
					<a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
				</li>
				<li  th:classappend="${!userPage.hasNext} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${userPage.number+1}">
						다음
					</a>
				</li>
				<li  th:classappend="${!userPage.hasNext} ? 'disabled'">
					<a class="page-link" href="javascript:void(0)" th:data-page="${userPage.totalPages-1}">
						마지막 페이지
					</a>
				</li>
			</ul>
		</div>
		<!-- 페이징처리 끝 -->

		<form th:action="@{/admin/members}" method="get" id="searchForm">
			<input type="hidden" id="category" name="category" th:value="${category}">
			<input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
			<input type="hidden" id="page" name="page" th:value="${userPage.number}">
		</form>


	</div>
</div>

</body>

</html>