<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- layout으로 설정되는 모든 html에 포함될 head 내용 작성 -->
<head th:fragment="config">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>
  
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"
	integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
	crossorigin="anonymous"></script>   <!-- cdn방식으로 제이쿼리 호출 -->
	
  <!-- 모든 페이지에서 사용할 공용 css 링크 -->
  <!-- thymeleaf에서 링크를 걸 때에는 @{}를 사용한다. -->
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap"
          rel="stylesheet">
  <style>
  	body {
    font-family: 'Nanum Gothic Coding', monospace;
    }
  </style>

  <!-- 특정 페이지에서만 사용할 css 링크 및 스타일시트 -->
  <!-- css를 따로 적용할 페이지에 아래와 같이 작성해야 한다. -->
  <th:block layout:fragment="css">
    <!--<style>
    </style>
    <link rel="stylesheet" th:href="">  -->
  </th:block>

  <!-- 모든 페이지에서 동작할 공용 js 링크 -->
 <!--   <script th:src="@{/js/jquery.min.js}"> </script> 현재 js에 존재하지않아 주석처리--> 

  <!-- 특정 페이지에서만 사용할 js 링크 및 태그 -->
  <th:block layout:fragment="script">
    <!--<script>
    </script>

    <script src=""></script>-->
  </th:block>
</head>
</html>