<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:java8time="http://www.thymeleaf.org/thymeleaf-extras-java8time"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link href="/css/main.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
          href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap"
          rel="stylesheet">
  <link type="image/png" sizes="32x32" rel="icon" href="/icon/icons8-에너지-32.png">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .cart-header{
      margin-top: 250px;
    }

    .cart-header p{
      margin-left: 900px;
      font-size: 12px;
      color: white;
    }

    hr {
      margin: 30px auto;
      max-width: 800px;
    }

    .cart-table {
      font-size: 12px;
      color: #999;
      text-align: center;
      border: 1px solid white;
      border-collapse: collapse;
      width: 800px;
      margin: 20px auto;
    }

    .cart-table th, td {
      padding: 16px 5px;
    }

    .cart table, #tr1 {
      border-bottom: 1px solid white;
    }

    #th1, #td1 {
      width: 5%;
    }

    #th2, #td2 {
      width: 15%;
    }

    #th3, #td3 {
      width: 20%;
    }

    #th4, #td4 {
      width: 15%;
    }

    #th5, #td5 {
      width: 15%;
    }

    #th6, #td6 {
      width: 15%;
    }

    #th7 #td7 {
      width: 15%;
    }

    td > a {
      text-decoration: none;
      color : red;
    }

    #itemCnt {
      width: 24px;
    }

    .plus, .minus, #itemCnt {
      display: inline;
      text-align: center;
    }

    .order-btn {
      margin: 50px auto 200px auto;
      text-align: center;
    }

    .order-btn a {
      text-decoration: none;
      border: 1px solid white;
      color: black;
      padding: 5px 40px 5px 40px;
      font-size: 12px;
    }

    .order-btn .all, .selected{
      background-color: white;
      color: black;
    }

    .order-btn .all:hover, .selected:hover {
      background-color: aqua;
      color: black;
    }
  </style>

  <script>
    //체크박스
    $(document).ready(function () { //문서 준비가 완료되면 함수 내의 코드가 실행된다
      $("#checkAll").click(function() { //#checkAll를 클릭했을 때 실행
        if($("#checkAll").is(":checked")) $("input[name=check]").prop("checked", true); //#checkAll이 체크가 되면, check의 체크박스를 모두 체크하게 설
        else $("input[name=check]").prop("checked", false); //그렇지 않은 경우에는 체크박스의 상태를 선택 해제 상태로 설정
        // 체크박스 클릭 시 payMoney, 상품 개수 업데이트
        updatePayMoney();
        updateItemCnt()
      });

      $("input[name=check]").click(function() {
        var total = $("input[name=check]").length; //check이름을 가진 체크박스의 길이(개수)를 가져옴
        var checked = $("input[name=check]:checked").length; //선택된 check의 체크박스 길이(개수)를 가져옴

        if(total != checked) $("#checkAll").prop("checked", false); //개수가 같지 않으면 올체크를 풀고
        else $("#checkAll").prop("checked", true); //개수가 같으면 올체크 표시

        // 체크박스 클릭시 payMoney 업데이트
        updatePayMoney();
        // 체크박스 클릭시 상품 개수 업데이트
        updateItemCnt();

      });

      //천 단위 콤마 찍기
      function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",").concat(" 원");
      }

      //숫자를 제외한 변수들을 제거하는 정규식
      function parsePriceString(priceString) {
        // Remove all non-numeric characters except for digits
        const numericString = priceString.replace(/[^\d]/g, '');
        return parseInt(numericString, 10);
      }


      $(".totalCost").each(function () {
        const totalPrice = parseInt($(this).siblings("td#itemCost").text(), 10)
                          * parseInt($(this).parent("tr").find("input[name='cartQuantity']").val(), 10);

        $(this).text(numberWithCommas(totalPrice));
      });

      $(".money").each(function() {
        const price = parseInt($(this).text(), 10);
        $(this).text(numberWithCommas(price));
      });

      function updateItemCnt() {
        let itemCnt = $("input[name=check]:checked").length;

        $("#checkCnt").text(itemCnt);
      }


      function updatePayMoney() {
        let payPrice = 0;

        $("input[name=check]:checked").each(function () {
          let payPriceStr = $(this).parents("tr").find("td.totalCost").text();
          payPrice = payPrice + parsePriceString(payPriceStr);
        });

        $("#payMoney").text(numberWithCommas(payPrice));
      }


      //클릭하면 증감되는 자바스크립트
      $("a.plusCnt, a.minusCnt").on("click", function (e) {
        e.preventDefault();

        let quantityInput = $(this).parents("form").find("input[name='cartQuantity']");
        let idInput = $(this).parents("form").find("input[name='id']");
        let quantity = parseInt(quantityInput.val(), 10);

        if ($(this).hasClass("plusCnt")) {
          quantity += 1;
        } else if ($(this).hasClass("minusCnt") && quantity > 1) {
          quantity -= 1;
        }

        quantityInput.val(quantity);

        // Update the .totalCost value
        const itemCostText = $(this).parents("tr").find("td#itemCost").text();
        const itemCost = parsePriceString(itemCostText);
        const totalPrice = numberWithCommas(itemCost * quantity);
        $(this).parents("tr").find("td.totalCost").text(totalPrice);

        // 수량 변경시 payMoney 업데이트
        updatePayMoney();

        // Send AJAX request
        $.ajax({
          url: "/updateCart",
          type: "post",
          data: {
            id: idInput.val(),
            cartQuantity: quantityInput.val()
          },
          success: function (response) {
            // Process response from server (e.g., update UI)
            console.log('수량이 변경되었습니다');
          },
          error: function (xhr, textStatus, errorThrown) {
            // Handle errors
            console.log(xhr, textStatus, errorThrown);
          }
        });
      });

      // 페이지 로드시 payMoney 값 설정
      updatePayMoney();
      // 페이지 로드 시 상품 개수 값 설정
      updateItemCnt();

    });

  </script>

<body>
<header>
  <div class="nav-bar-container">

    <div class="nav-logo">
      <a href="/"> <img src="/icon/Black n White Luxury  Rent Car Logo.png">
      </a>
    </div>

    <div class="nav-bar-item-box">
      <div class="nav-bar-item">
        <a href="/product/productList"> <span></span> <span></span> <span></span> <span></span>
          컬렉션
        </a>
      </div>

      <div class="nav-bar-item">
        <a href="/board/list"> <span></span> <span></span> <span></span>
          <span></span> 커뮤니티
        </a>
      </div>

      <div class="nav-bar-item">
        <a href="/qna/list"> <span></span> <span></span> <span></span> <span></span>
          Q&A
        </a>
      </div>

      <div class="nav-bar-item">
        <a href="#"> <span></span> <span></span> <span></span> <span></span>
          장바구니
          <span id="cart-count" class="notification-badge"></span>
        </a>
      </div>
    </div>

    <div class="nav-bar-member-text" sec:authorize="isAuthenticated()">
      <p>
        환영합니다! <span class="username" sec:authentication="name"></span>님
      </p>
      <a href="/mypage">마이페이지</a>
    </div>

    <div class="nav-bar-login" sec:authorize="hasAuthority('ROLE_ADMIN')">
      <a href="/admin">관리자페이지</a>
    </div>

    <div class="nav-bar-login" sec:authorize="isAuthenticated()">
      <a href="/logout">로그아웃</a>
    </div>

    <div class="nav-bar-login" sec:authorize="!isAuthenticated()">
      <a href="/login"> 로그인 </a>
    </div>

    <div class="nav-bar-join nav-bar-login"
         sec:authorize="!isAuthenticated()">
      <a href="/register"> 회원가입 </a>
    </div>
  </div>
</header>

<section>
  <div class="cart-header">
    <ul class="cart-menu">
      <li>
        <a href="#"></a>
      </li>
      <p class="p-right">장바구니에 담긴 상품은 14일 동안 보관됩니다</p>

    </ul>
  </div>
  <hr>

  <div class="cart-table-container">
    <table class="cart-table">
      <tr id="tr1">
        <th id="th1"><input class="th1-checkbox" type="checkbox" id="checkAll"></th>
        <th id="th2">이미지</th>
        <th id="th3">상품 정보</th>
        <th id="th4">판매가</th>
        <th id="th5">수량</th>
        <th id="th6">구매가</th>
        <th id="th7">선택</th>
      </tr>
        <tr class="cart" th:each="cart: ${cartList}" th:data-product-id="${cart.product.id}" th:data-quantity-id="${cart.cartQuantity}">
        <td id="td1"><input type="checkbox" name="check" value="1"></td>
        <td th:text="이미지"></td>
        <td th:text="${cart.product.getProductTitle()}"></td>
        <td class="money" id="itemCost" th:text="${cart.product.getProductPrice().longValue()}">
        </td>
        <td>
          <div class="qty">
            <form action="/updateCart" method="post" style="display: inline">
              <div class="minus">
                <a href="#" class="minusCnt"><i class="fa-solid fa-minus" style="color: #ffffff;"></i></a>
              </div>
              <input style="display: none" type="text" name="id" th:value="${cart.id}">
              <input type="text" name="cartQuantity" id="itemCnt" th:value="${cart.cartQuantity}" readonly="readonly">
              <div class="plus">
                <a href="#" class="plusCnt"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></a>
              </div>
            </form>
          </div>
        </td>
        <td class="totalCost" >
        </td>
        <td>
          <a th:href="@{|/deleteCart/${cart.id}|}" th:text="삭제"></a>
        </td>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>선택한 상품 개수</th>
        <th id="checkCnt"></th>
        <th>총 금 액</th>
        <th id="payMoney">0</th>
      </tr>
    </table>
  </div>

  <hr>

  	
 
  <div class="order-btn">
    <a href="#" class="all" onclick="requestPay()">전체상품주문</a>
    <a href="#" class="selected" onclick="requestSelectPay()">선택상품주문</a>
  </div>
  
  
</section>

	
	
	<script>
	
/* 		$('.cart').each(function() {
		  const productId = $(this).data('product-id');
		  const quantity = $(this).data('quantity-id');
		  
		  console.log('Product ID:', productId);
		  console.log('Quantity:', quantity);
		}); */
		
		
		let productId = [];
		let quantity = [];
		$('.cart').each(function() {
		    productId.push($(this).data('product-id'));
		    quantity.push($(this).data('quantity-id'));
		});
		
		console.log('상품 아이디 : ' + productId);
		console.log('상품 개수 : ' + quantity);
	
		const IMP = window.IMP;
		IMP.init("imp04710710");
		
		
		//전체 상품 결제
		
		async function requestPay() {
			 
			
			   	if (!confirm("전체 상품을 주문하시겠습니까?")) {
			        return;
			    } else {
			    	$('.th1-checkbox').trigger('click');
			    }
			  			  
			  $.get("/api/cart/user", function(user) {
			    
			    
			    $.get("/api/cart", function(cart) {
			    	
			      // TODO: Modify here if your cart data structure is different
			      let name = "";
			      let amount = 0;
			      for (let item of cart) {
			        name += item.product.productTitle + ",";
			        amount += item.product.productPrice * item.cartQuantity;
			      }
			      
			      // Initiate payment request
			      IMP.request_pay(
			        {
			          pg: 'kcp.T0000',
			          pay_method: 'card',
			          merchant_uid: 'merchant_' + new Date().getTime(),
			          name: name,
			          amount: amount,
			          company : '포션이었다...',
			          buyer_email: user.email,
			          buyer_name: user.username,
			          buyer_tel: user.tel,
			          buyer_addr: user.my_address,
			          buyer_postcode: user.my_postcode,
			          

			          
			        }, function (rsp) {
			        	
			        	console.log(rsp);
			        	
			        	let paymentDTO = {
			        			  pg: rsp.pg,
			        			  pay_method: rsp.pay_method,
			        			  imp_uid: rsp.imp_uid,
			        			  merchant_uid: rsp.merchant_uid,
			        			  name: rsp.name,
			        			  amount: rsp.paid_amount,
			        			  buyer_tel: rsp.buyer_tel,
			        			  buyer_addr: rsp.buyer_addr,
			        			  buyer_postcode: rsp.buyer_postcode,
			        			  buyer_detailAddr: user.my_detailAddress,
 			        			  productId:productId,
			        			  quantity:quantity
			        			};
			        	
			        	$.ajax({
			        		type: 'POST',
			        		url:'/verifyIamport/' + rsp.imp_uid
			        	}).done(function(result) {
			        		
			        		console.log('중간결제까지 진입');
			        		console.log('done : ' + result);
			        		
			        		if(rsp.paid_amount === result.response.amount) {
			        			alert("결제가 완료되었습니다.");
			        			
			        			console.log("사전 검증 완료");
			        			
			        			$.ajax({
			                        type: 'POST',
			                        url: '/api/payment',  // your API endpoint to process payment
			                        data: JSON.stringify(paymentDTO),  // sending the paymentDTO
			                        contentType: 'application/json'
			                    }).done(function(result) {
			                        // handle result
			                        console.log(result);
			                        window.location.href = "/";
			                        
			                    }).fail(function(error) {
			                        // handle error
			                        console.log(error);
			                    });
	        			
			        		} else {
			        			$('.th1-checkbox').trigger('click');
			        			alert("결제 실패");
			        		}
			        		
			        		
			        	});
			        });
			    });
			  });
			}
		
		
		
		// 선택된 상품만 결제
		
		function requestSelectPay() {
			  var selectedItems = []; // 선택된 상품들을 담을 배열
			  
			  // 선택된 체크박스들을 확인하고 선택된 상품들을 배열에 추가
			  $('input[type="checkbox"][name="check"]:checked').each(function() {
			    var productId = $(this).closest('.cart').data('product-id');
			    var quantity = $(this).closest('.cart').data('quantity-id');
			    
			    selectedItems.push({
			      productId: productId,
			      quantity: quantity
			    });
			  });
			  
			  console.log('선택된 아이템',selectedItems);

			  
			  // 선택된 상품들이 있는지 확인
			  if (selectedItems.length === 0) {
			    alert("주문할 상품을 선택해주세요.");
			    return;
			  }
			 
			  $.get("/api/cart/user", function(user) {
				  $.get("/api/cart", function(cart) {
				    let name = "";
				    let amount = 0;
				    for (let selectedItem of selectedItems) {
				      for (let item of cart) {
				        if (item.product.id == selectedItem.productId) {
				        	console.log("Selected product found in cart", item);
				          name += item.product.productTitle + ", ";
				          amount += item.product.productPrice * item.cartQuantity;
				          break;
				        }
				      }
				    }
				      
				      // Initiate payment request
				      IMP.request_pay(
				        {
				          pg: "kcp.T0000",
				          pay_method: "card",
				          merchant_uid: 'merchant_'+new Date().getTime(),
				          name: name,
				          amount: amount,
				          company : '포션이었다...',
				          buyer_email: user.email,
				          buyer_name: user.username,
				          buyer_tel: user.tel,
				          buyer_addr: user.my_address,
				          buyer_postcode: user.my_postcode
				          
				          
				        }, function (rsp) {
				        	
				        	console.log(rsp);
				        	
				        	let paymentDTO = {
				        			  pg: rsp.pg,
				        			  pay_method: rsp.pay_method,
				        			  imp_uid:rsp.imp_uid,
				        			  merchant_uid: rsp.merchant_uid,
				        			  name: rsp.name,
				        			  amount: rsp.paid_amount,
				        			  buyer_tel: rsp.buyer_tel,
				        			  buyer_addr: rsp.buyer_addr,
				        			  buyer_postcode: rsp.buyer_postcode,
				        			  buyer_detailAddr: user.my_detailAddress,
	 			        			  productId: productId,
				        			  quantity: quantity
				        			};
				        	
				        	$.ajax({
				        		type: 'POST',
				        		url:'/verifyIamport/' + rsp.imp_uid
				        	}).done(function(result) {
				        		
				        		console.log('done : ' + result);
				        		console.log(JSON.stringify(result, null, 2));
				        		
				        		if(rsp.paid_amount === result.response.amount) {
				        			alert("결제가 완료되었습니다.");
				        			
				        			console.log("사전 검증 완료");
				        			
				        			$.ajax({
				                        type: 'POST',
				                        url: '/api/payment',  // your API endpoint to process payment
				                        data: JSON.stringify(paymentDTO),  // sending the paymentDTO
				                        contentType: 'application/json'
				                    }).done(function(result) {
				                        // handle result
				                        console.log(result);
				                        window.location.href = "/";
				                        
				                    }).fail(function(error) {
				                        // handle error
				                        console.log(error);
				                    });
		        			
				        		} else {
				        			alert("결제 실패");
				        		}
				        		
				        		
				        	});
				        });
				    });
				  });	  
			}
		
	    $(document).ready(function() {
	    	$.get("/api/cart/count", function(data) {
	    		$('#cart-count').text(data);
	    	});
	    });


	</script>
</body>
</html>
