
.sideMenu-bar{
    width: 10%;
    float: left;
}

.main-content{
    
    width: 80%;
    float: right;
    margin-top: 200px;
    background-color: aliceblue;
}


.menuImage{
    width: 200px; /* 이미지의 가로 크기 */
    height: 350px; /* 이미지의 세로 크기 */
    border-radius: 50%; /* 타원형 모양으로 표시 */
    overflow: hidden; /* 내부 내용이 넘치면 숨김 */
    position: relative; /* 자식 요소의 위치를 설정하기 위해 필요 */
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%);
}

.menuImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 가득 채우도록 설정 */
}

.nav.flex-column {
    margin-top: 172px;
    display: grid;
    grid-template-columns: fit-content(px);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    color: white; /* 글자색 */
    text-decoration-style: solid;
    padding: 10px;
    border-radius: 5px;
}

.nav.flex-column :hover {
    background-color: #03e9f4; /* 호버 시 배경색 변경 */
}

.nav.flex-column.active {
    background-color: #03e9f4 /* 활성 탭 배경색 */
}

.nav.flex-column a {
    display: block;
    text-align: center;
    color: inherit; /* 부모 요소로부터 상속 */
}

