
.sideMenu-bar{
    width: 15%;
    float: left;
    margin-top: 262px;
    margin-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.side-flex-column {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: fit-content(px);
    grid-template-rows: auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration-style: solid;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
}

.side-item{
    position: relative;
    color: whitesmoke;
    margin: auto;
}

.side-flex-column a {
    display: block;
    text-align: center;
    color: inherit; /* 부모 요소로부터 상속 */
}

.side-flex-column a :hover{
    color: #86cfda; /* 호버 시 글자색 변경 */
    font-size: 1.2rem;
    font-weight: bold;
}

.side-flex-column a.active,
.side-flex-column a.active:hover {
    color: #86cfda;  /* 활성 탭 설정 */
    font-size: 1.5px;
    font-weight: bold;
}


.main-content{
    width: 80%;
    float: right;
    margin-top: 200px;
    background-color: transparent;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: auto;
}

.total-div{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-inline: auto;
    color: whitesmoke;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
}

.table {
    width: 100%;
    margin-bottom: 40px;
    color: #86cfda;
}

/*테이블 안의 폰트 설정*/
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: whitesmoke;
}


/*상세 조회 버튼*/
.btn {
    display: inline-block;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #86cfda;
    border: 1px solid whitesmoke;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn:hover{
    background-color: grey;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-category{
    width: auto;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-size: 14px;
}

.search-btn{
    display: inline-block;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #86cfda;
    border: 1px solid whitesmoke;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.search-btn:hover {
    background-color: grey;
}