<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>초능력</title>
<link href="/css/main.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
	integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
	crossorigin="anonymous"></script>
	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR&display=swap"
	rel="stylesheet">
<link type="image/png" sizes="32x32" rel="icon"
	href="/icon/icons8-에너지-32.png">
</head>
<body>
	
	<header>
		<div class="nav-bar-container">

			<div class="nav-logo">
				<a href="/"> <img
					src="/icon/Black n White Luxury  Rent Car Logo.png">
				</a>


			</div>

			<div class="nav-bar-item-box">
				<div class="nav-bar-item">
					<a href="/product/productList"> <span></span> <span></span> <span></span> <span></span>
						컬렉션
					</a>
				</div>

				<div class="nav-bar-item">
					<a href="/board/list"> <span></span> <span></span> <span></span>
						<span></span> 커뮤니티
					</a>
				</div>

				<div class="nav-bar-item">
					<a href="#"> <span></span> <span></span> <span></span> <span></span>
						Q&A
					</a>
				</div>

				<div class="nav-bar-item">
					<a href="#"> <span></span> <span></span> <span></span> <span></span>
						장바구니
					</a>
				</div>

			</div>


			<div class="nav-bar-member-text" sec:authorize="isAuthenticated()">
				<p>
					환영합니다! <span class="username" sec:authentication="name"></span>님
				</p>
				<a href="/mypage">마이페이지</a>
			</div>

			<div class="nav-bar-login" sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a href="/admin">관리자페이지</a>
			</div>

			<div class="nav-bar-login" sec:authorize="isAuthenticated()">
				<a href="/logout">로그아웃</a>
			</div>

			<div class="nav-bar-login" sec:authorize="!isAuthenticated()">
				<a href="/login"> 로그인 </a>
			</div>

			<div class="nav-bar-join nav-bar-login"
				sec:authorize="!isAuthenticated()">
				<a href="/register"> 회원가입 </a>
			</div>

		</div>





	</header>


	
<form th:action="@{/board/update/{id}(id=${board.id})}" method="post">
    <label for="boardTitle">Title</label>
    <input type="text" id="boardTitle" name="boardTitle" th:value="${board.boardTitle}">
    <label for="boardContent">Content</label>
    <textarea id="boardContent" name="boardContent" th:text="${board.boardContent}"></textarea>
    <input type="submit" value="Update">
</form>

  <th:block th:if="${error}">
	<script>
		alert('권한이 없습니다.');
	</script>
  </th:block>

</body>
</html>