<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <style>
            .menu-tb {
                border-collapse: collapse;
                margin-top: 250px;
                margin-left: 50px;
            }

            .menu-tr, .munu-td {
                border: 1px solid pink;
                padding: 30px 20px 30px 20px;
            }

            .munu-td {
                text-align: center;
                font-weight: bold;
                color: white;
            }
        </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="menu">
        <table class="menu-tb">
            <tbody>
            <tr class="menu-tr">
                <td class="munu-td">주문/배송조회</td>
            </tr>
            <tr class="menu-tr">
                <td class="munu-td">내 글/댓글 조회</td>
            </tr>
            <tr class="menu-tr">
                <td class="munu-td">내 리뷰 관리</td>
            </tr>
            <tr class="menu-tr">
                <td class="munu-td">내 정보 관리</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>