<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/mypage/me</title>
    <style>
        .menu {
            float: left;
        }
    </style>
</head>
<body>
<div class="menu">
    <ul>
        <li><a href=#>주문조회</a></li>
        <li><a href=#>내 게시글 관리</a></li>
        <li><a href=#>내 리뷰 관리</a></li>
        <li><a href="/mypage/myInfo">마이페이지</a></li>
    </ul>
</div>
</body>
</html>