<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>/mypage/myInfo</title>
  <style>
    .menu {
      float: left;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 300px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
<div class="menu">
  <ul>
    <li><a href=#>주문조회</a></li>
    <li><a href=#>내 게시글 관리</a></li>
    <li><a href=#>내 리뷰 관리</a></li>
    <li><a href="/mypage/myInfo">마이페이지</a></li>
  </ul>
</div>

<div class="content">
  <h1>마이페이지</h1>
  <form action="/mypage/myInfo" method="get">
    <label for="username">아이디:</label>
    <p id="username" name="username" th:text="${user.username }" readonly></p>
    <br>

    <label for="currentPassword">현재 비밀번호:</label>
    <input type="password" id="currentPassword" name="currentPassword">
    <br>

    <label for="newPassword">새 비밀번호:</label>
    <input type="password" id="newPassword" name="newPassword">
    <br>

    <label for="confirmPassword">비밀번호 확인:</label>
    <input type="password" id="confirmPassword" name="confirmPassword">
    <br>

    <label for="email">이메일:</label>
    <p id="email" name="email" th:text="${user.email }"></p>
    <br>

    <label for="tel">연락처:</label>
    <p id="tel" name="tel" th:text="${user.tel }"></p>
    <br>

    <label for="my_postcode">우편번호:</label>
    <p id="my_postcode" name="my_postcode" th:text="${user.my_postcode }"></p>
    <br>

    <label for="my_address">주소:</label>
    <p id="my_address" name="my_address" th:text="${user.my_address }"></p>
    <br>

    <label for="my_detailAddress">상세주소:</label>
    <p id="my_detailAddress" name="my_detailAddress" th:text="${user.my_detailAddress }"></p>
    <br>

    <div class="buttons">
      <button type="button">수정</button>
      <button type="submit">저장</button>
    </div>
  </form>
</div>
</body>
</html>